.container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: forestgreen;

    .list{
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-right: 20px;
        font-size: large;
    }
}