<div class="container">
    <div class="row">
        <img src="../../assets/images/craftsman-portrait.jpg">
        <div class="text">
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget aliquam eros. Proin lacinia tempus purus id malesuada. In interdum luctus massa, vitae efficitur enim semper ac. Fusce pellentesque urna condimentum efficitur auctor. Vestibulum semper ipsum elit, et pellentesque mi iaculis eu. Donec eleifend elit eget nisi placerat rutrum. Vestibulum rutrum venenatis lectus porta condimentum.</p>
            <p>
            Cras leo massa, porta id enim at, consequat fringilla purus. Curabitur id tortor hendrerit magna fermentum mattis. Etiam et viverra enim, in cursus nisl. Etiam et maximus est, vel lobortis nisl. Nunc vel justo sagittis, accumsan odio in, volutpat odio. Proin sit amet leo felis. Nulla tincidunt interdum imperdiet. Donec ut metus at quam ultricies pellentesque. Nunc id ex a justo gravida blandit. Duis finibus mollis ex, et volutpat sapien. In pharetra ornare ipsum at condimentum. Vestibulum ultrices ut ex non pretium. Nulla congue ultrices pharetra. Aenean eleifend sapien rutrum erat tincidunt posuere. Quisque et est eros.</p>
        </div>
    </div>
    <div class="row">
        <div class="text">
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget aliquam eros. Proin lacinia tempus purus id malesuada. In interdum luctus massa, vitae efficitur enim semper ac. Fusce pellentesque urna condimentum efficitur auctor. Vestibulum semper ipsum elit, et pellentesque mi iaculis eu. Donec eleifend elit eget nisi placerat rutrum. Vestibulum rutrum venenatis lectus porta condimentum.</p>
            <p>
            Cras leo massa, porta id enim at, consequat fringilla purus. Curabitur id tortor hendrerit magna fermentum mattis. Etiam et viverra enim, in cursus nisl. Etiam et maximus est, vel lobortis nisl. Nunc vel justo sagittis, accumsan odio in, volutpat odio. Proin sit amet leo felis. Nulla tincidunt interdum imperdiet. Donec ut metus at quam ultricies pellentesque. Nunc id ex a justo gravida blandit. Duis finibus mollis ex, et volutpat sapien. In pharetra ornare ipsum at condimentum. Vestibulum ultrices ut ex non pretium. Nulla congue ultrices pharetra. Aenean eleifend sapien rutrum erat tincidunt posuere. Quisque et est eros.</p>
        </div>
        <img src="../../assets/images/craftsman-inside-shed.jpg">
    </div>
</div>